@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy Ne</h1>
<p>
    This site purpose is pleasure only (and cyber).
    <br/>
    Be careful - all actions are been recorded and sent to my computer!
</p>
